$White: #ffffff;
$Blue: #006FF9;
$LighterBlue: #197DFA;
$Black: #212529;
$LightBlue: #F4F9FE;
$GreyWhite: #FAFAFA;
$LightGrey: #e2e2e2;
$DarkGrey: #6F7074;
$DarkerGrey: #999999;
$DarkBlue: #0A236D;
$LightOpacityGrey: rgba(213, 214, 218, 0.4);
$LighterOpacityGrey: rgba(212, 217, 232, 0.2);

//1px solid rgb(234 234 234)