$FontSize__13px: 13px;
$FontSize__14px: 14px;
$FontSize__15px: 15px;
$FontSize__16px: 16px;
$FontSize__20px: 20px;
$FontSize__22px: 22px;
$FontSize__36px: 36px;
$FontSize__44px: 44px;

$InterFont: 'Inter', sans-serif;
$FontWeight__Light: 300;
$FontWeight__Medium: 500;
$FontWeight__SemiBold: 600;

